*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(189, 185, 185);

}
h2{
    text-align: center;
    padding: 20px;
}
.container{
    width: 90%;
    margin: auto;
    
    
}

.cards-container{
    background-color: #e0dada;
    /* height: 100vh; */
    margin-top: 10px;
}

.card-box{
    background-color: #e0dada;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.box{
    width: 30%;
    box-shadow: 2px 2px 30px black;
    border-radius: 20px;
    background-color: #fff;
    
}
.box img{
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0px 0px ;
}

.box-content{
    padding: 20px;
    /* width: 70%; */
}
.box-content button{
    background-color: #E5ECFF;
    color: blue;
    padding: 20px;
    width: 100%;
}

footer{
    background-color: #e0dada;

}

footer p{
    color: black;
    text-align: center;
    padding: 20px;
}

/* task 2 */

.flexbox{
    display: flex;
    /* border: 2px solid green; */
    gap: 20px;
    background-color:#F0F0F0;
    /* flex-direction: row; */

    /* border: 2px solid black; */
    padding: 25px 20px;
    
}
.fbox .image img {
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 250px;
}

.fbox p{ 
    text-transform: capitalize;
    font-size: 20px;
}

.fbox{
    background-color: white;
    /* padding: 10px 20px; */
    border-radius: 5px;
    box-sizing: border-box;
    width: 50%; /* Adjust this value based on your layout needs */
    border: 2px solid rgb(150, 147, 147);

}
.text{
    padding: 10px 20px;
}