.academics {
    padding: 100px 0;
}

.academics .academics-wrapper .academics-content h2 {
    color: #00306e;
    font-size: 50px;
    font-weight: 700;
    line-height: 54px;
    margin: 0;
    text-align: center;
}

img,
svg {
    vertical-align: middle;
}

.academics .academics-wrapper .academics-content .heading-after-img {
    text-align: center;
}

.academics .academics-wrapper .academics-content .academics-courses-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;

}

.academics .academics-wrapper .academics-content .academics-courses-wrapper .courses-img-box {
    /* max-width: ; */
    margin-bottom: 30px;
    position: relative;
    transition: all .5s ease 0s;
    max-width: fit-content;
    width: 100%;
}

.academics .academics-wrapper .academics-content .academics-courses-wrapper .courses-img-box::before{
    background: linear-gradient(180deg, rgba(15, 18, 22, 0) 46.67%, rgba(15, 18, 22, .9) 91%);
    border-radius: 6px 6px 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .5s ease 0s;
    width: 100%;
    z-index: 1;

}

.academics .academics-wrapper .academics-content .academics-courses-wrapper .courses-img-box .course-content {
    bottom: 20px;
    left: 20px;
    position: absolute;
    right: 20px;
    z-index: 2;
    
    
    
}
.academics .academics-wrapper .academics-content .academics-courses-wrapper .courses-img-box .course-content h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 27.65px;
    margin: 0;
    
}
.academics .academics-wrapper .academics-content .academics-courses-wrapper .courses-img-box .course-content a {
    color: #b5b2b2;
    text-decoration: none;
}

